include *.rst
include *.md
include *.in
include LICENSE
include mutar/__init__.py

recursive-include examples *.py
recursive-include examples *.txt

recursive-include mutar *.py
recursive-include mutar *.pyx
recursive-include mutar *.pxd

### Exclude

exclude Makefile
exclude .coveragerc
exclude *.yml
exclude .mailmap
recursive-exclude mutar *.pyc

recursive-exclude docs *
